.phonebook_form {
    display:flex;
    flex-direction: column;
    margin-left: 25px;
}
.button_submit {
width: 100px;
height: 30px;
border-radius: 5px;
background-color: blue;
color: white;
}
.form_label {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    font-size: large;
}
.form_input {
    width: 420px;
    height: 35px;
    margin-top: 20px;
}
.title_phonebook {
    margin-left: 25px;
}